<div class="container mt-5">
  <h2 class="text-center text-primary">📝 Registro de Usuario</h2>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <!-- Formulario de registro de usuario -->
      <form class="p-4 border rounded shadow bg-light">
        <!-- Mensaje de error que se muestra si hay un problema con el registro -->
        <div *ngIf="mensajeError" class="alert alert-danger">{{ mensajeError }}</div>

        <!-- Campo de nombre -->
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" placeholder="Tu nombre">
        </div>

        <!-- Campo de correo electrónico -->
        <div class="mb-3">
          <label class="form-label">Correo Electrónico</label>
          <input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="ejemplo@email.com">
        </div>

        <!-- Campo de contraseña -->
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="********">
        </div>

        <!-- Botón para registrar al usuario -->
        <button type="button" class="btn btn-success w-100" (click)="registrar()">📝 Registrarse</button>
      </form>
    </div>
  </div>
</div>
