<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">🎥 Sección de Videos de Leyendas</h2>
    <div class="row text-center">
      <div class="col-md-4 mb-4" *ngFor="let jugador of leyendas">
        <div class="card h-100 shadow">
          <img [src]="jugador.imagen" class="card-img-top" [alt]="jugador.nombre">
          <div class="card-body">
            <h5 class="card-title">{{ jugador.nombre }}</h5>
            <button class="btn btn-outline-primary w-100" (click)="verVideo(jugador.video)">▶️ Ver carrera</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  